body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

section {
    margin-bottom: 30px;
}

.upload-section {
    display: flex;
    align-items: center;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border-radius: 4px;
    margin-right: 10px;
}

.custom-file-upload span {
    margin-right: 5px;
}

button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.output-section {
    margin-top: 20px;
}

/* Add this style to your existing CSS */

.history-list {
    margin-top: 15px;
}

.history-list p {
    margin-bottom: 8px;
}

.history-list hr {
    margin-top: 8px;
    margin-bottom: 8px;
}


button {
    margin-right: 10px;
}

/* Add this CSS to your styles.css file or within a <style> tag in your HTML */

#updateIdForm {
    margin-bottom: 20px;
}

#updateForm {
    display: none;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#updateForm label {
    display: block;
    margin-bottom: 5px;
}

#updateForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#updateForm button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#updateForm button:hover {
    background-color: #45a049;
}
